@import "../../../styles/common";

.root {
  @include tachyons(
    pv2 ph3 br2 bw1 b--solid dib no-underline fw6 db mw4-ns w-100
  );
  font-family: inherit;
}

.primary {
  color: purple;
  background-color: $primary-1;
  border-color: purple;
}

.primaryOutline {
  color: $primary-1;
  background-color: transparent;
  border-color: $primary-1;
}

.secondary {
  color: $primary-1;
  background-color: $secondary-1;
}
