@import "../../../styles/common";

.root {
  @include tachyons(flex flex-column center);
}

.cardTitle {
  @include tachyons(tc f4 fw7);
}

.imageContainer {
  @include tachyons(relative center);
}

.cardImage {
  @include tachyons(z-0 center);
}

.imageOverlay {
  @include tachyons(absolute w-100 h-100 z-1 bg-black-40);
  top: 0;
  left: 0;
}

.overlayDim {
  @include tachyons(o-0);
}

.hideText {
  @include tachyons(dn);
}

.overlayText {
  @include tachyons(absolute w-100 h-100 z-2 red);
  top: 0;
  left: 0;
}

.iconsWrapper {
  @include tachyons(center pv2 flex flex-wrap justify-center items-center);
}

.icon {
  @include tachyons(f3 mh2 mb1);
}
