@import "../../node_modules/tachyons-sass/tachyons.scss";

// Color Palette Link
// http://paletton.com/#uid=43+0u0ke4eT92pyctkBjXcVoR9E

// Colors
$primary-1: #ccc692;

$secondary-1: #6c6c83;
$secondary-2: #4d4d73;
$secondary-3: #121236;

$background-color: #121236;

// Fonts
$font-monospace: "VT323", monospace;
$font-serif: "Alegreya", serif;
$font-cursive: "Calligraffitti", cursive;
