---
import Layout from "../../layouts/Layout.astro";
---

<Layout pageTitle="Python + R in Jupyter">
  <main style="max-width: 64rem; margin: 0 auto; padding: 6rem 1rem;">
    <h1>Python + R in Jupyter</h1>
    <p>Windows · WSL2 · Conda</p>

    <p>
      This guide documents a stable development environment for running Python
      and R in the same Jupyter workflow on Windows.
      <a
        href="https://github.com/junclemente/USD-MSADS/blob/main/setup/python_r_windows.md"
        target="_blank"
      >
        View</a
      >
    </p>
  </main>
</Layout>
