@import "../../../styles/common";

.root {
  @include tachyons(bt w-100 pv4);
  border-top-color: $secondary-2;
  background-color: $secondary-4;
}

.footer {
  @include tachyons(center mw8 ph4);
}

.content {
  @include tachyons(flex flex-row-ns flex-column justify-around);
}

.icon {
  @include tachyons(ph2-ns pv2);
}

.link {
  @include tachyons(link);
  color: $primary-1;
}
