<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jun Clemente | Applied Data Scientist</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
  :root {
    --bg-1: #0f172a;
    --bg-2: #020617;

    --text: #e5e7eb;
    --muted: #cbd5e1;
    --muted-2: #94a3b8;

    --accent: #6366f1;
    --card: rgba(255, 255, 255, 0.03);
    --border: rgba(255, 255, 255, 0.10);
  }

  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    width: 100%;
    color: var(--text);
    background: linear-gradient(135deg, var(--bg-1) 0%, var(--bg-2) 100%);
  }

  a {
    color: inherit;
  }
</style>

